<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiyoulinux.recruitment.dao.ActivityDAO">
  <resultMap id="BaseResultMap" type="org.xiyoulinux.recruitment.model.vo.Activity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="act_name" jdbcType="VARCHAR" property="act_name" />
    <result column="act_time" jdbcType="VARCHAR" property="act_time" />
    <result column="process_id" jdbcType="INTEGER" property="process_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, act_name, act_time, process_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xiyoulinux.recruitment.model.vo.Activity">
    insert into activity (id, act_name, act_time,
      process_id)
    values (#{id,jdbcType=INTEGER}, #{act_name,jdbcType=VARCHAR}, #{act_time,jdbcType=VARCHAR},
      #{process_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="org.xiyoulinux.recruitment.model.vo.Activity">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="act_name != null">
        act_name,
      </if>
      <if test="act_time != null">
        act_time,
      </if>
      <if test="process_id != null">
        process_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="act_name != null">
        #{act_name,jdbcType=VARCHAR},
      </if>
      <if test="act_time != null">
        #{act_time,jdbcType=VARCHAR},
      </if>
      <if test="process_id != null">
        #{process_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xiyoulinux.recruitment.model.vo.Activity">
    update activity
    <set>
      <if test="act_name != null">
        act_name = #{act_name,jdbcType=VARCHAR},
      </if>
      <if test="act_time != null">
        act_time = #{act_time,jdbcType=VARCHAR},
      </if>
      <if test="process_id != null">
        process_id = #{process_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xiyoulinux.recruitment.model.vo.Activity">
    update activity
    set act_name = #{act_name,jdbcType=VARCHAR},
      act_time = #{act_time,jdbcType=VARCHAR},
      process_id = #{process_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
