<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiyoulinux.recruitment.dao.JoinDAO">
    <resultMap id="BaseResultMap" type="org.xiyoulinux.recruitment.model.po.Join">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_no" jdbcType="CHAR" property="student_no"/>
        <result column="process_id" jdbcType="INTEGER" property="process_id"/>
        <result column="is_vaild" jdbcType="BIT" property="is_vaild"/>
        <result column="cn_name" jdbcType="VARCHAR" property="cn_name"/>
        <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
        <result column="dept" jdbcType="VARCHAR" property="dept"/>
        <result column="admin_class" jdbcType="VARCHAR" property="admin_class"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, student_no, process_id, is_vaild, cn_name, passwd, sex, birthday, province, college,
    dept, admin_class, mobile
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `join`
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectRand" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `join`
        WHERE is_vaild = 1
        ORDER BY rand() LIMIT 1
    </select>
    <!--就写了一句-->
    <select id="selectByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `join`
        where student_no = #{no}
    </select>
    <update id="updateMobileByNo">
    update `join`
    set mobile = #{mobile}
    where student_no = #{no}
  </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `join`
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.xiyoulinux.recruitment.model.po.Join">
    insert into `join` (id, student_no, process_id,
      is_vaild, cn_name, passwd,
      sex, birthday, province,
      college, dept, admin_class,
      mobile)
    values (#{id,jdbcType=INTEGER}, #{student_no,jdbcType=CHAR}, #{process_id,jdbcType=INTEGER},
      #{is_vaild,jdbcType=BIT}, #{cn_name,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR},
      #{sex,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, #{province,jdbcType=VARCHAR},
      #{college,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{admin_class,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.xiyoulinux.recruitment.model.po.Join">
        insert into `join`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="student_no != null">
                student_no,
            </if>
            <if test="process_id != null">
                process_id,
            </if>
            <if test="is_vaild != null">
                is_vaild,
            </if>
            <if test="cn_name != null">
                cn_name,
            </if>
            <if test="passwd != null">
                passwd,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="college != null">
                college,
            </if>
            <if test="dept != null">
                dept,
            </if>
            <if test="admin_class != null">
                admin_class,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="student_no != null">
                #{student_no,jdbcType=CHAR},
            </if>
            <if test="process_id != null">
                #{process_id,jdbcType=INTEGER},
            </if>
            <if test="is_vaild != null">
                #{is_vaild,jdbcType=BIT},
            </if>
            <if test="cn_name != null">
                #{cn_name,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="college != null">
                #{college,jdbcType=VARCHAR},
            </if>
            <if test="dept != null">
                #{dept,jdbcType=VARCHAR},
            </if>
            <if test="admin_class != null">
                #{admin_class,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.xiyoulinux.recruitment.model.po.Join">
        update `join`
        <set>
            <if test="student_no != null">
                student_no = #{student_no,jdbcType=CHAR},
            </if>
            <if test="process_id != null">
                process_id = #{process_id,jdbcType=INTEGER},
            </if>
            <if test="is_vaild != null">
                is_vaild = #{is_vaild,jdbcType=BIT},
            </if>
            <if test="cn_name != null">
                cn_name = #{cn_name,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                passwd = #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="college != null">
                college = #{college,jdbcType=VARCHAR},
            </if>
            <if test="dept != null">
                dept = #{dept,jdbcType=VARCHAR},
            </if>
            <if test="admin_class != null">
                admin_class = #{admin_class,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.xiyoulinux.recruitment.model.po.Join">
    update `join`
    set student_no = #{student_no,jdbcType=CHAR},
      process_id = #{process_id,jdbcType=INTEGER},
      is_vaild = #{is_vaild,jdbcType=BIT},
      cn_name = #{cn_name,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      province = #{province,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      admin_class = #{admin_class,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateIs_vaild" parameterType="java.lang.Boolean">
    update `join`
    set is_vaild = #{is_vaild}
    where is_vaild = !#{is_vaild}
  </update>
</mapper>
